.address-footer {
  .group-left {
    width: 30%;
    min-width: 200px;
  }
  .group-right {
    width: 70%;
  }
  .oh-current-closed {
    display: block;
    font-size: 2em;
    color: red;
    margin: .5em;
  }
  .oh-current-open {
    color: green;
  }
}