.site-logo {
  float: left;
  margin: 1em 1em 1em 0;
}
.site-name {
  float: left;
  margin: 1em 1em 1em 0;
}
.l-header {
  height: 270px;
}
.headerimage {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}