@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/toolkit-2\.6\.0\/stylesheets\/toolkit\/_kickstart\.scss}line{font-family:\000031}}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/toolkit-2\.6\.0\/stylesheets\/toolkit\/_kickstart\.scss}line{font-family:\0000311}}
img, video {
  max-width: 100%;
  height: auto; }

/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/components\/_footer\.scss}line{font-family:\000032}}
.address-footer .group-left {
  width: 30%;
  min-width: 200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/components\/_footer\.scss}line{font-family:\000036}}
.address-footer .group-right {
  width: 70%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/components\/_footer\.scss}line{font-family:\000039}}
.address-footer .oh-current-closed {
  display: block;
  font-size: 2em;
  margin: .5em;
  color: red; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/components\/_footer\.scss}line{font-family:\0000315}}
.address-footer .oh-current-open {
  display: block;
  font-size: 2em;
  margin: .5em;
  color: green; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/components\/_footer\.scss}line{font-family:\0000321}}
.address-footer .oh-display {
  display: block;
  margin-bottom: .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/components\/_header\.scss}line{font-family:\000031}}
.l-page {
  background: url(../images/header_background.JPG) no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/components\/_header\.scss}line{font-family:\000034}}
.site-logo {
  float: left;
  margin: 1em 1em 1em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/components\/_header\.scss}line{font-family:\000038}}
.site-name {
  float: left;
  margin: 1em 1em 1em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/components\/_navigation\.scss}line{font-family:\000032}}
.block--system-main-menu .menu {
  margin: 0;
  padding: 0;
  list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/components\/_navigation\.scss}line{font-family:\000036}}
  .block--system-main-menu .menu li {
    list-style: none;
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/components\/_navigation\.scss}line{font-family:\000039}}
    .block--system-main-menu .menu li a {
      text-decoration: none;
      color: #000;
      padding: .5em 1em .5em 0; }
