/*******************************************************************************
 * divine.layout.scss
 *
 * Styling of the "divine" layout demonstrating the golden rule and asymmetric
 * grids with Singularity.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000326}}
.l-page {
  width: 95%;
  max-width: 110em;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000332}}
.l-header,
.l-main {
  *zoom: 1;
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.1\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-header:after,
  .l-main:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 700px) {
  /* Header Area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000340}}
  .l-branding {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000343}}
  .l-region--header {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000346}}
  .l-region--navigation {
    clear: both; }

  /* Content Area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000351}}
  .l-content {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

  /* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000357}}
  .has-one-sidebar .l-region--sidebar-first,
  .has-one-sidebar .l-region--sidebar-second {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000363}}
  .has-two-sidebars .l-region--sidebar-first {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000366}}
  .has-two-sidebars .l-region--sidebar-second {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; } }
@media (min-width: 1250px) {
  /* Header Area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000374}}
  .l-header {
    *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.1\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
    .l-header:after {
      content: "";
      display: table;
      clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000377}}
  .l-branding {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000380}}
  .l-region--header {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000383}}
  .l-region--navigation {
    clear: both; }

  /* Content Area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000388}}
  .l-content {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

  /* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\0000394}}
  .has-one-sidebar .l-region--sidebar-first,
  .has-one-sidebar .l-region--sidebar-second {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\00003100}}
  .has-two-sidebars .l-region--sidebar-first {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/prod\/sites\/all\/themes\/nhahang_theme\/sass\/layouts\/divine\/divine\.layout\.scss}line{font-family:\00003103}}
  .has-two-sidebars .l-region--sidebar-second {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none; } }
